# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit / temp
storage/
*.log

# Jupyter
.ipynb_checkpoints/
.env
.env.swp
.venv/
storage/
__pycache__/

